<div class="col-lg-8 col-lg-offset-2">
    <h1>Welcome</h1>
    <p>This webapplication should be able to view revisions of a wikipedia entry and use the diff function to view
        the difference between revisions.</p>
    <h2>Usage</h2>
    <p>First you need to download a Wikipedia Export file which contains the revisions you want to review and
        upload it to the application. Or you can use the import (download) function of the web app</p>
    <p>After uploading the file (it could take a long time), use the the view tab to view each revision,
        the diff tab to view differences and the search tab for fulltext search within the revision file.</p>
    <h2>Requirements:</h2>
    <ul>
        <li>Java 8 SE</li>
        <li>This program as JAR</li>
        <li>A web browser</li>
    </ul>
    <h3>Disclaimer</h3>
    <p>Please visit the <a ui-sref="impressum">Impressum</a> page for acknowledgment and other information.</p>
</div>